/* Codeium Reset */

*{box-sizing:border-box;margin:0;padding:0}html,body{font-family:sans-serif;line-height:1.5}img{max-width:100%;height:auto}ul{list-style:none}button{background:none;border:0;color:inherit;cursor:pointer;font:inherit;padding:0}input,textarea,select{font:inherit}a{text-decoration:none}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}caption{display:table-caption;text-align:center}p{margin:0}blockquote{margin:0;padding:0}q{quotes:none}q:before,q:after{content:none}details,summary{display:list-item}details>summary:first-of-type{display:list-item}details>summary:not(:first-of-type){display:none}details[open]>summary{display:none}details[open]>*:not(summary){animation:fadein 0.5s ease-in-out}@keyframes fadein{from{opacity:0}to{opacity:1}}

/* Variables */

:root {
    
    --tight-letter-spacing: -0.025rem;
    --section-border: 1px solid #A5A8A8;
    --padded-room: clamp(1rem, 2vw, 10rem);

    --full-moon: #DFE2E3;
    --stunning: #414A62;
    
    --dark-stunning: #2D3243;
    --copper: #7F3C0F;
    --new-moon: #323333;
    
    --button-padding-small: .5rem .75rem;
    --button-padding-large: .75rem 2rem;
    --outside-button-padding: .25rem;

    --odd-font: "attribute-text", sans-serif;
    --even-font: "attribute-text", serif;

    --skeumorphic-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


/* My Styles */

HTML {
    scroll-behavior: smooth;
}

BODY {
    background: #DFE2E3;
    background-image: url("svg/windingroad.svg");
    background-repeat: repeat-y;
    
    background-position: 94% 50%;
    color: var(--new-moon);
    font-family: var(--even-font);
}

#available {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem var(--padded-room);
    background-color: var(--dark-stunning);
    color: var(--full-moon);
    font: 1rem/1.5 var(--even-font);
    letter-spacing: var(--tight-letter-spacing);
    overflow: visible;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

#available a[href="#contact"] {
    display: block;
    background: linear-gradient(0deg, #7F3C0F, #AC5114);
    padding: var(--outside-button-padding);
    border-radius: 1rem;
    transform: rotate(-1.5deg);
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #7F3C0F, #AC5114);
    transition: .3s;
}


#available a[href="#contact"]:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

#available a[href="#contact"] SPAN {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--copper) linear-gradient(0deg, #AC5114, #7F3C0F);
    padding: var(--button-padding-small);
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    text-shadow: var(--skeumorphic-text-shadow);
}

    @media screen and (max-width: 400px) {
        #available {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
        }
    }

    @media screen and (min-width: 800px) {
        #available {
            font-size: 1.125rem;
            padding: 1rem var(--padded-room);
        }

        #available a[href="#contact"] SPAN {
            padding: var(--button-padding-large);
        }
        
    }



header {
    width: 100%;
    background: transparent url("svg/questions.svg") 80% 100% no-repeat;
}

header section {
    min-height: 70vh;
    width: 100%;
    max-width: 100ch;
    padding: 8vw var(--padded-room) var(--padded-room) var(--padded-room);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    h1 {
        color: var(--dark-stunning);
        font: 4rem/1 var(--odd-font);
        letter-spacing: -.22rem;
        font-weight: 100;
    }

    h1 strong {
        color: var(--dark-stunning);
        font-weight: 100;
    }

    h1 span {
        color: var(--copper); 
    }
    
    header h2 {
        font: 1.5rem/1 var(--odd-font);
        color: var(--stunning);
        font-weight: 100;
        
    }

@media screen and (min-width: 800px) {
    
    header section {
        min-height: 70vh;
    }

    h1 {
        font-size: 9rem;
        letter-spacing: 0rem;
        margin-bottom: 6rem;
    }

    header img {
        width: 100%;
        max-width: 80ch;
        margin: 0 0 3rem;
        transform: rotate(-5deg);
        margin-left: 20ch;
    }

    header h2 {
        font-size: 2.25rem;
        letter-spacing: -.12rem;
    }
}

@media screen and (max-width: 400px) {
    header section {
        min-height: 60vh;
    }
    header h2 {
        font-size: 1.25rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padded-room);
    gap: var(--padded-room);
}

    main P,
    main UL {
        font-size: 1.125rem;
        line-height: 1.3333;
        font-weight: 300;
    }

    P STRONG,
    UL STRONG {
        font-weight: 700;
    }

    

#services, #about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60vh;
    width: 100%;
    max-width: 100ch;
    border: var(--section-border);
    padding: var(--padded-room);
}

    MAIN H2 {
        font: 3rem/1 var(--odd-font);
        letter-spacing: -.25rem;
        font-weight: 100;
        color: var(--stunning);
        margin-bottom: 6rem;
    }


    MAIN H2 STRONG {
        color: #161921;
        font-weight: 100;
    }

    #services DIV {
        display: flex;
        flex-direction: column;
        gap: 3.375rem;
    }

    #services DIV DIV {
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
    }

    #services H3 {
        font: bold 1.125rem/1 var(--even-font);
    }

    #services UL {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }


    MAIN P {
        max-width: 50ch;
    }

    #about DIV {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    #mission P:first-child:first-line,
    #about P:first-child::first-line {
        font-variant: small-caps;
        letter-spacing: .07rem;
    }


    @media screen and (min-width: 800px) {
    

        #services, #about {
            min-height: 80vh;
        }

        main h2 {
            font-size: 4.5rem;
        }

        main P,
        main UL {
            font-size: 1.5rem;
        }

        #services UL {
            display: flex;
            flex-direction: row;
            gap: .5rem;
        }

        #services LI::after {
            content: " •";
        }

        #services LI:last-child::after {
            content: "";
        }
        
    }





#contact {
    display: grid;
    width: 100%;
    max-width: 100ch;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--padded-room);
    padding: 0;
}

#contact div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20vh;
    padding: var(--padded-room);
    border: var(--section-border);
    font: 1.125rem/1.33333 var(--even-font); 
    backdrop-filter: brightness(105%) blur(4px) opacity(.9);
}

#contact div:first-child {
    grid-column: 1 / 3;
    border: var(--section-border);
    min-height: 45vh;
    padding: var(--padded-room);
    backdrop-filter: unset;
}


#contact H3 {
    font: 1.5rem/1 var(--odd-font);
    font-style: normal;
    font-weight: 100;
    color: var(--stunning);
    letter-spacing: var(--tight-letter-spacing);
    margin-bottom: 4rem; 
    letter-spacing: -.12rem;
}

#contact A {
    display: block;
    border-radius: 1rem;
    padding: var(--outside-button-padding);
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #7F3C0F, #AC5114);
    transition: .3s;
}

#contact A SPAN {
    display: block;
    border-radius: 1rem;
    padding: var(--button-padding-small);
    background: var(--copper) linear-gradient(0deg, #AC5114, #7F3C0F);
    color: white;
    text-align: center;
    font: bold 1.125rem/1.33333 var(--even-font);   
    text-shadow: var(--skeumorphic-text-shadow);
}

#contact A:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}
    
    @media screen and (min-width: 800px) {

        #contact A {
            font: 1.5rem/1.5 var(--even-font);   
        }

        #contact H3 {
            font-size: 2.25rem;
        }    
    }

    @media screen and (max-width: 500px) {
        
        #contact {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #contact div {
            width: 100%;
        }
    }


footer {    
    min-height: 40vh;
    padding: var(--padded-room);
    color: var(--copper);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
