/* Codeium Reset */

*{box-sizing:border-box;margin:0;padding:0}html,body{font-family:sans-serif;line-height:1.5}img{max-width:100%;height:auto}ul{list-style:none}button{background:none;border:0;color:inherit;cursor:pointer;font:inherit;padding:0}input,textarea,select{font:inherit}a{text-decoration:none}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}caption{display:table-caption;text-align:center}p{margin:0}blockquote{margin:0;padding:0}q{quotes:none}q:before,q:after{content:none}details,summary{display:list-item}details>summary:first-of-type{display:list-item}details>summary:not(:first-of-type){display:none}details[open]>summary{display:none}details[open]>*:not(summary){animation:fadein 0.5s ease-in-out}@keyframes fadein{from{opacity:0}to{opacity:1}}

/* Variables */

:root {
    
    --tight-letter-spacing: -0.025rem;
    --section-border: 1px solid #C4C6CE;
    --padded-room: clamp(1rem, 2vw, 10rem);

    --full-moon: #DFE2E3;
    --moonlight: #edefef;
    --stunning: #414A62;
    
    --dark-stunning: #2D3243;
    --even-darker-stunning: #161921;
    --copper: #7F3C0F;
    --new-moon: #323333;
    --bright-fucking-orange: #F5671F;
    --bright-blue: #b6dadb;
    
    --button-padding-small: .3125rem .5625rem;
    --button-padding-large: .5625rem 1.3125rem;
    --outside-button-padding: .1875rem;

    --flex-gap: clamp(1rem, 2vw, 2rem);

    --odd-font: "attribute-text", sans-serif;
    --even-font: "attribute-text", serif;

    --skeumorphic-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}


/* My Styles */

HTML {
    scroll-behavior: smooth;
}

BODY {
    background: var(--moonlight) url("svg/windingroad.svg") 10% 50% repeat-y;
    color: var(--new-moon);
    font-family: var(--even-font);
}

#available {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem var(--padded-room);
    background-color: var(--dark-stunning);
    color: var(--full-moon);
    font: 1rem/1.5 var(--even-font);
    letter-spacing: var(--tight-letter-spacing);
    overflow: visible;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

#available a[href="#contact"] {
    display: block;
    background: #d44503 radial-gradient(circle, #d24403 0%, #ee4e03 95%, #fd5102 100%);
    border-top: 1px solid #F5671F;
    border-left: 1px solid #F5671F;
    border-right: 2px solid #E65618;
    border-bottom: 2px solid #E65618;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transform: rotate(.75deg);
    transition: .3s;
    color: white;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0; 
    font-size: 1rem;
    animation-name: level;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes level {
    0% {
        transform: rotate(.75deg);
    }

    50% {
        transform: rotate(-.75deg);
    }

    100% {
        transform: rotate(.75deg);
    }
}

#available a[href="#contact"]:hover {
    transform: rotate(-0.5deg);
}


    @media screen and (max-width: 400px) {
        #available {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
        }

        #available P {
            text-transform: uppercase;
            letter-spacing: .12rem;
            font-size: .75rem;
        }
    }

    @media screen and (min-width: 800px) {
        #available {
            font-size: 1.125rem;
            padding: 1rem var(--padded-room);
        }

        #available a[href="#contact"] SPAN {
            padding: var(--button-padding-large);
        }
        
    }



header {
    width: 100%;
    background: transparent url("svg/questions.svg") 50% 20% no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header section {
    min-height: 70vh;
    width: 100%;
    max-width: 100ch;
    padding: var(--padded-room) var(--padded-room) 8vw var(--padded-room);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

    header #logo {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-top: 4vw;
        margin-bottom: 6rem;
        align-items: flex-start;
    }

    header .eyes {
        display: flex;
        flex-direction: row;
        gap: .16rem;
        
    }

    header .why {
        box-shadow: -1px -1px 0px var(--bright-blue), 1px 1px 0px var(--bright-fucking-orange);
        border-radius: 50%;
        margin: 0; padding: 0;
        height: 1.25rem;
    }

    header .why img {
        display: inline;
        height: 1.25rem;
        transform-origin: 50% 50%;
        transform: rotate(360deg);
        transition: 1s;
    }

@media screen and (hover: hover) {
    header #logo:hover .why img {
        transform: rotate(0deg);
        animation: none;
    }
}

    h1 {
        color: var(--even-darker-stunning);
        font: 1rem/1 var(--odd-font);
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .16rem;
        text-align: left;
    }

    h1 strong {
        color: var(--dark-stunning);
        font-weight: 300;
    }

    h1 span {
        color: var(--copper); 
    }
    
    header h2 {
        font: 3.5rem/1 var(--odd-font);
        color: #414A62;
        font-weight: 300;
        letter-spacing: -0.06em;
        text-align: left;
    }


@media screen and (min-width: 800px) {
    
    header section {
        min-height: 70vh;
        align-items: center;
    }

    header #logo {
        align-items: center;
    }

    h1 {
        font-size: 1rem;
        letter-spacing: .16rem;
        font-weight: 700;
        text-align: center;
    }

    header h2 {
        font-size: 5.5rem;
        letter-spacing: -.32rem;
        font-weight: 300;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {

    h1 {
        font-size: 1rem;
        letter-spacing: .08rem;
        font-weight: 700;
    }


    h1 strong {
        font-weight: 300;
    }


    header section {
        min-height: 60vh;
    }
    header h2 {
        font-size: 2.8rem;
        font-weight: 300;
        letter-spacing: -.04em;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(3 * var(--padded-room)) var(--padded-room);
    gap: var(--padded-room);
}

    main P,
    main UL {
        font-size: 1.125rem;
        line-height: 1.3333;
        font-weight: 300;
    }

    main A {
        text-decoration: underline;
        color: var(--dark-stunning);
        text-decoration-color: var(--bright-fucking-orange);
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
        transition: .2s;
    }

    main A:hover {
        text-decoration: underline;
        color: var(--even-darker-stunning);
        text-decoration-color: var(--stunning);
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
    }

    P STRONG,
    UL STRONG {
        font-weight: 700;
    }

    

#services, #about, #contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
    width: 100%;
    max-width: 100ch;
    border: var(--section-border);
    background-color: var(--moonlight);
    padding: var(--padded-room);
    box-shadow: 1vw 1vw var(--full-moon);
    border-radius: 1vw;
}

#contact {
    background-color: white;
    border: 2px solid var(--bright-fucking-orange);
}

    MAIN H2 {
        font: 2.25rem/1 var(--odd-font);
        letter-spacing: -.15rem;
        font-weight: 300;
        color: #7a808e;
        margin-bottom: 6rem;
    }


    MAIN H2 STRONG {
        color: var(--even-darker-stunning);
        font-weight: 300;
    }

    #services DIV, #about DIV {
        display: flex;
        flex-direction: column;
        gap: 3.375rem;
    }

    #services DIV DIV, #about DIV DIV {
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
    }

    #services H3, #about H3 {
        margin-bottom: 0rem;
        font: bold 1.125rem/1 var(--even-font);
        text-transform: uppercase;
        letter-spacing: .1rem;
        color: var(--stunning);
    }

        #services H3::after, #about H3::after {
            content: ":";
        }

    #services-list, #clients-list {
        gap: .5rem;
    }

    #services UL, #about UL {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }


    MAIN P {
        max-width: 50ch;
    }

    #about IMG {
        max-width: 50ch;
    }        

    #about .two-three {
        display: flex;
        flex-direction: column;
        gap: 3.375rem;
    }  

    #about .two-three div:first-child { display: flex; align-items: end;}

    #about IMG {
        display: block;
        max-width: 20ch;
        margin: 0 0 1rem;
    }        
    @media screen and (min-width: 800px) {

        #about IMG {
            display: block;
            max-width: 20ch;
            float: right;
            margin: 0 0 1rem 1rem;
        }        

    #about .two-three {
        display: grid;
        grid-template-columns: 29fr 12fr;
        gap: 2vw;
    }

    #about .two-three div:first-child { grid-column-start: 2; display: flex; align-items: end;}
    #about .two-three div:nth-child(2) { grid-column-start: 1; grid-row-start: 1;}

}



    #contact DIV {
        display: flex;
        flex-direction: column;
        gap: var(--flex-gap);
    }

    #mission P:first-child:first-line,
    #about P:first-child::first-line,
    #contact P:first-child::first-line {
        font-variant: small-caps;
        letter-spacing: .07rem;
    }


    #contact A {
        display: inline-block;
        text-decoration: none;
        transform: rotate(-1.5deg);
        border-radius: .5rem;
        border-top: 1px solid #F5671F;
        border-left: 1px solid #F5671F;
        border-right: 2px solid #E65618;
        border-bottom: 2px solid #E65618;
        background: #d44503 radial-gradient(circle, #d24403 0%, #dd4803 50%, #ee4e03 99%, #fd5102 100%);
        transition: .3s;
        text-transform: none;
        color: white;
        text-align: center;
        font: bold 1.125rem/1.33333 var(--even-font);   
        padding: .75rem 1.5rem;
    }
    
    #contact A SPAN {
        display: block;
    }
    
    #contact A:hover {
        transform: rotate(.5deg);
    }
        

    @media screen and (min-width: 800px) {
    

        #services, #about {
            min-height: 80vh;
        }

        main h2 {
            font-size: 3rem;
            font-weight: 300;
        }



        main h2 strong {
            font-weight: 300;
        }

        main P,
        #services UL {
            font-size: 1.5rem;
        }

        #services UL, #about UL {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: .75rem;
        }

        #about UL { gap: .5rem;}

        

        #services LI::after, #about LI::after {
            content: " •";
            color: #A3A7B2;
        }

        #services LI:last-child::after, #about LI:last-child::after {
            content: "";
        }
        
        #about UL {
            font-size: 1.125rem;
            line-height: 1.333;
        }

        #contact A SPAN {
            font: bold 1.5rem/1.5 var(--even-font);   
            padding: var(--button-padding-large);
        }

    }

    @media screen and (max-width: 400px) {

        main h2 {
            font-size: 2rem;
            font-weight: 300;
            letter-spacing: -.05rem;
        }

        main h2 strong {
            font-weight: 300;
        }

        #services-list UL, #clients-list UL {
            gap: .25rem;
            font-size: 1rem;
        }
    }


footer {    
    min-height: 40vh;
    padding: var(--padded-room);
    color: var(--full-moon);
    background: var(--stunning);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: clamp(2rem, 4vw, 4rem);
}

footer #locate {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: calc(2 * var(--flex-gap));   
    max-width: 100ch;
}

footer P {
    font: 1.125rem/1.333 var(--even-font);
}

footer H3 {
    font: 1rem/1.333 var(--even-font);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .16rem;
    color: var(--full-moon);
    margin-bottom: .5rem;
}

footer A {
    text-decoration: underline;
    color: white;
    text-decoration-color: var(--bright-fucking-orange);
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

footer A:hover {
    text-decoration: underline;
    color: var(--dark-stunning);
    text-decoration-color: var(--stunning);
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

@media screen and (min-width: 800px) {

    footer {    
        align-items: center;
    }

    footer #locate {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: var(--flex-gap);
        width: 100%;
        text-align: center;
    }

    footer P {
        text-align: center;
    }
}